.result-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid gray;
    margin-left: 1rem;
    padding: 1rem 0;
    // justify-content: ;
    width: 22rem;

    div {
        width: 32px;
    }
}

.time{
    margin-left: 1rem;
    font-size: 0.75rem;
}